{% extends "base.html" %}
{% block content %}
<table>
	<tr>
		<td id="blocklyArea"></td>
	</tr>
</table>

<div id="blocklyDiv" style="position: absolute"></div>

<xml id="toolbox" style="display: none">
  <category name="Loops">
    <block type="controls_if"></block>
    <block type="controls_repeat_ext"></block>
  </category>
  <category name="Compare">
    <block type="logic_compare"></block>
  </category>
  <category name="Math">
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>
  </category>
  <category name="Words">
    <block type="text"></block>
    <block type="text_print"></block>
  </category>
</xml>
{% endblock %}