{% extends "base.html" %}
{% block content %}

<p>
  <button type="button" class="btn bt-default btn-lg" onclick="showCode()">
    <span class="glyphicon glyphicon-play-circle"></span> Run</button>
    <button type="button" class="btn bt-default btn-lg" onclick="uploadCode()">
    <span class="glyphicon glyphicon-upload"></span> Upload</button>
</p>

<table>
	<tr>
		<td id="blocklyArea"></td>
	</tr>
</table>

<div id="blocklyDiv" style="position: absolute;"></div>

<xml id="toolbox" style="display: none">
  <category name="Loops">
    <block type="controls_if"></block>
    <block type="controls_repeat_ext"></block>
  </category>
  <category name="Compare">
    <block type="logic_compare"></block>
  </category>
  <category name="Math">
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>
  </category>
  <category name="Print">
      <block type="text"></block>
      <block type="text_print"></block>
  </category>
  <sep></sep>
  <category name="Motors">
  </category>
  <category name="LEDs">
  </category>
  <category name="Speakers">
  </category>
  <category name="Sensors">
  </category>
  <category name="Drivers">
  </category>
  <sep></sep>
  <category name="Examples">
  </category>
</xml>
{% endblock %}