<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
  {% include 'flash.html' %}
  <div class="well">
    <h3>Register</h3>
    <form class="form-horizontal" action="" method="post" name="registration">
        {{ form.hidden_tag() }}

        <div class="control-group">
          <label class="control-label" for "firstname">Firstname</label>
          <div class="controls">
            {{ form.firstname(size=30, class="form-control") }}
            {% for error in form.firstname.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "lastname">Lastname</label>
          <div class="controls">
            {{ form.lastname(size=30, class="form-control") }}
            {% for error in form.lastname.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "username">Username</label>
          <div class="controls">
            {{ form.nickname(size=30, class="form-control") }}
            {% for error in form.nickname.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "password">Password</label>
          <div class="controls">
            {{ form.password(size=30, class="form-control") }}
            {% for error in form.password.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "confirm">Confirm Password</label>
          <div class="controls">
            {{ form.confirm(size=30, class="form-control") }}
            {% for error in form.confirm.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "robot_name">Robots' Name</label>
          <div class="controls">
            {{ form.robot_name(size=30, class="form-control") }}
            {% for error in form.robot_name.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <label class="control-label" for "robot_mac">Robots' MAC</label>
          <div class="input-group">
            <span class="input-group-addon btn btn-primary" type="button" onclick="bluesearch();return false;">
            <i style="display: show" id="search" class="glyphicon glyphicon-search"></i>
            <img id="loading" style="display: none" height="20" width="20" src="/static/loading.gif"> Search </span>
            <div id="dvsel" style="display: none">
              <select class="form-control selectpicker show-tick" data-size="5" id="robotsel"></select><br>
            </div>
              {{ form.robot_mac(id="robotmac", class="form-control") }}
          </div>
          {% for error in form.robot_mac.errors %}
            <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
          {% endfor %}
          <br>

        <div class="control-group">
          <div class="controls">
            <input class="btn btn-primary" type="submit" value="Sign Up">
          </div>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.js"></script>
  <script>
    $('.selectpicker').selectpicker();
    $('#robotsel').on('change', function(){
      var rob_mac = $(this).find(":selected").val();
      var rob_name = $(this).find(":selected").text();
      // alert(rob_mac + ":" + rob_name)
      if (rob_mac == "00") {
        $("#robotmac").show();
        $("#robotmac").val("");
        $("#dvsel").hide();
      }
      else {
        $('#robotmac').val(rob_mac);
      }
    });
  </script>
  <script>
  function bluesearch() {
    var option_list = [["","---Select One---"]];
    $("#search").hide();
    $("#loading").show();
    $.ajax({
      type: "POST",
      url: '/bluesearch',
      dataType:'json',
      success: function(data) {
        $("#search").show();
        $("#loading").hide();
        var passdata = JSON.parse(data.devices);
        $.each(passdata, function(i, item) {
          var dev_item=[[item.mac,item.name]];
          option_list = option_list.concat(dev_item);
          dev_item=[];
        });
        option_list = option_list.concat([["00","---Manual Entry---"]]);
        $("#robotsel").empty();
        alert(option_list.length-2+" devices found")
        for (var i = 0; i < option_list.length; i++) {
          $("#robotsel").append(
            $("<option></option>").attr(
              "value", option_list[i][0]).text(option_list[i][1])
            );
          $("#robotmac").hide();
          $('#dvsel').show();
          $('#robotsel').selectpicker('refresh');
        }
      },
      error: function(){
        alert("Error");
      }
    });
  }
  </script>
{% endblock %}