<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
  <div class="well">
    <h3>Register</h3>
    <form class="form-horizontal" action="" method="post" name="registration">
        {{ form.hidden_tag() }}

        <div class="control-group">
          <label class="control-label" for "firstname">Firstname</label>
          <div class="controls">
            {{ form.firstname(size=30) }}
            {% for error in form.firstname.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "lastname">Lastname</label>
          <div class="controls">
            {{ form.lastname(size=30) }}
            {% for error in form.lastname.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "username">Username</label>
          <div class="controls">
            {{ form.nickname(size=30) }}
            {% for error in form.nickname.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "password">Password</label>
          <div class="controls">
            {{ form.password(size=30) }}
            {% for error in form.password.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "confirm">Confirm Password</label>
          <div class="controls">
            {{ form.confirm(size=30) }}
            {% for error in form.confirm.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "robot_name">Robots' Name</label>
          <div class="controls">
            {{ form.robot_name(size=30) }}
            {% for error in form.robot_name.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for "robot_mac">Robots' MAC</label>
          <div class="controls">
            {{ form.robot_mac(size=30) }}
            {% for error in form.robot_mac.errors %}
              <br><span class="help-inline" style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div><br>

        <div class="control-group">
          <div class="controls">
            <a href={{ url_for('blockly') }}>
              <span>
                <input class="btn btn-primary" type="button" value="Bluetooth Search">
              </span>
            </a>
          </div>
      </div><br>

        <div class="control-group">
          <div class="controls">
            <input class="btn btn-primary" type="submit" value="Sign Up">
          </div>
      </div>
    </form>
  </div>
{% endblock %}